.user-name {
    font-size: 1.1em; /* Tamaño de fuente más grande */
    font-weight: bold; /* Negrita */
    font-family: 'Arial', sans-serif; /* Fuente profesional */
    color: #ffffff; /* Color blanco */
    text-shadow: 1px 1px 2px #000000; /* Sombra de texto para un efecto elegante */
    text-decoration: none; /* Quitar subrayado */
    margin-top: 5px; /* Reducir el margen superior */
}

.user-name:hover {
    text-decoration: none; /* Asegurarse de que no haya subrayado al pasar el ratón */
}
